
TicTacToe.xcodeproj/project.xcworkspace/xcuserdata/Buddy.xcuserdatad/UserInterfaceState.xcuserstate

TicTacToe.xcodeproj/xcuserdata/Buddy.xcuserdatad/xcschemes/xcschememanagement.plist

TicTacToe.xcodeproj/xcuserdata/Buddy.xcuserdatad/xcschemes/TicTacToe.xcscheme

TicTacToe.xcodeproj/project.pbxproj

TicTacToe.xcodeproj/project.pbxproj
